* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
    background-color: rgba(136, 116, 116, 0.911);
    justify-content: center;
    height: 75px;
    padding: 20px 35px;
    border-bottom: solid 2px rgba(255, 255, 255, 0.91);
}

body {
    background-color: rgba(180, 180, 180, 0.7);
}

h1 {
    justify-content: space-between;
    border-radius: 10px;
    color: rgb(227 236 255 / 91%);
}

header h1 {
    border-radius: 10px;
    border-color: rgb(181 181 181 / 91%);
}

h2 {
    justify-content: start;
}

.about-me {
    padding: 50px;
    color: black;
}

.wrapper {
    display: grid;
    justify-content:center;
    align-items: stretch;
    flex-wrap: wrap;
  }

  

.run-buddy { 
    margin: 20px 0px 20px 0px;
    font-size: 20px;
    border-radius: 20px;
    color: ivory;
    background-image: url(../assets/Images/gamerz_connect_main_image.png);
    font-weight: bold;
    padding: 10px;
    height: 275px;
    border: solid;
    width: 100%;
    border: solid 2px rgba(255, 255, 255, 0.91);
    background-size: cover;
    background-position: center;
}
.two { 
    font-size: 20px;
    border-radius: 20px;
    color: ivory;
    font-weight: bold;
    display: flex;
    padding: 10px;
    border: solid;
    width: 300px;
    height: 275px;
    background-image: url(../assets/Images/Screen\ Shot\ 2022-07-26\ at\ 4.14.07\ PM.png);
    background-size: 325px 300px;
    border: solid 2px rgba(255, 255, 255, 0.91);
}
.three { 
    font-size: 20px;
    border-radius: 20px;
    color: ivory;
    background-image: url(../assets/Images/Screen\ Shot\ 2022-07-25\ at\ 9.58.03\ PM.png);
    background-size: 425px 300px;
    font-weight: bold;
    display: flex;
    padding: 10px;
    border: solid;
    width: 300px;
    height: 275px;
    border: solid 2px rgba(255, 255, 255, 0.91);
}
.four { 
    font-size: 20px; 
    border-radius: 20px;
    color: ivory;
    font-weight: bold;
    display: flex;
    padding: 10px;
    border: solid;
    width: 300px;
    height: 275px;
    border: solid 2px rgba(255, 255, 255, 0.91);
    background-image: url(../assets/Images/Screen\ Shot\ 2022-07-26\ at\ 4.30.01\ PM.png);
    background-size: 350px 225px;
    }

.five { 
    font-size: 20px;
    border-radius: 20px;
    color: ivory;
    font-weight: bold;
    display: flex;
    padding: 10px;
    border: solid;
    width: 300px;
    height: 275px;
    border: solid 2px rgba(255, 255, 255, 0.91);
    background-image: url(../assets/Images/102000.webp);
}

.grid-with-sidebar{
	display: grid;
	grid-template-columns: 2fr 5fr;
	gap: 30px
}

.grid-with-sidebar {
	background: #CCCC
}



.grid-portfolio{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px
}


.grid-portfolio > div > p {
	display: inline-block;
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer nav {
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  display:inline;
  text-decoration: none;
  font-size: 17px;
  justify-content: space-between;
  margin: auto;
  }

footer a {
    text-decoration: none;
    color: rgb(227 236 255 / 91%);
    font-size: 20px;
}
footer nav ul li a {
    padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

h3 {
    color: rgb(227 236 255 / 91%);
}

footer {
    border-top: solid white;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35px;
    background-color: rgba(136, 116, 116, 0.911);
    display: flex ;
    font-size: 17px;
  }
